footer{
    background: var(--color-primary);
    text-align: center;
    padding: 40px 0;
    font-size: 14px;
    margin-top:100px;
}
footer a{
    color: var(--color-bg);
}
.footer_logo{
    font-size: 25px;
    font-size: 500;
    margin-bottom: 30px;
    display: inline-block;
}
.permalinks{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 auto 30px;
}
.footer_socials{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}
.footer_socials a{
   background: var(--color-bg);
   color: var(--color-white);
   padding: 12px;
   border-radius:10px;
   display: grid;
   border: 1px solid transparent;
   transition: var(--transition);
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   -ms-border-radius:10px;
   -o-border-radius:10px;
   -webkit-transition: var(--transition);
   -moz-transition: var(--transition);
   -ms-transition: var(--transition);
   -o-transition: var(--transition);
}
.footer_socials a:hover{
    border: 1px solid var(--color-bg);
    background: transparent;
    color: var(--color-bg);
}
.footer_copyright{
    color: var(--color-bg);
    text-align: center;
    margin-bottom: 4rem;
}
.footer_copyright a{
    color: var(--color-white);
}
@media (max-width:600px) {
    .permalinks{
        flex-direction: column;
        gap: 20px;
    }
}